<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.fhsolution.eclipse.plugins.csvedit.editors.MultiPageCSVEditor"
            contributorClass="org.fhsolution.eclipse.plugins.csvedit.editors.MultiPageCSVEditorContributor"
            default="true"
            extensions="csv"
            icon="icons/csv.gif"
            id="org.fhsolution.eclipse.plugins.csvedit.editors.MultiPageCSVEditor"
            name="CSV Edit">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="CSV Editor Preferences"
            class="org.fhsolution.eclipse.plugins.csvedit.CSVPreferencePage"
            id="org.fhsolution.eclipse.plugins.csvedit.CSVPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fhsolution.eclipse.plugins.csvedit.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.fhsolution.eclipse.plugins.csvedit.views.CSVEditView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
